<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- RemixIcon CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="
            {{ url_for('static', filename='app-home.css') }}
            "
    />
    <link rel="stylesheet" href="
        {{url_for('static', filename='medicine.css')}}
        ">
  </head>

  <body>
    {% block Data %}
    {% endblock %}

    {% block xmlContent %}
    {% endblock %}
    <!-- Bottom Navigation -->
    {%block bottom_navbar %}
    <div class="bottom-nav">
      <div class="nav-container">
        <div class="nav-item" data-target="history-content">
          <i class="nav-icon ri-history-line"></i>
          <div class="nav-text">History</div>
        </div>
        <div class="nav-item active" data-target="search-content">
          <i class="nav-icon ri-search-line"></i>
          <div class="nav-text">Search</div>
        </div>
        <div class="nav-item" data-target="profile-content">
          <i class="nav-icon ri-user-line"></i>
          <div class="nav-text">Profile</div>
        </div>
      </div>
    </div>
    {% endblock %}
{% block script %}
<script src={{url_for('static',filename='navbar.js')}}>
{% endblock %}
      </body>
</html>
