<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
        <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" />
</head>

<body>
    <div class="login-container">
        <h2>Create Account</h2>
             {% block messages %}
            <div class="err__msg">
                <p>{{err_message}}</p>
            </div>
            <div class="success__msg">
                <p>{{success_message}}</p>
            </div>

            {% endblock %}
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="email" name="userEmail" placeholder="Enter your email" required />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="userPass" placeholder="Enter your password" required />
            </div>

            <button type="submit" class="login-btn">Register</button>

            <div class="form-footer">
                <p>
                    Don't have an account? <a href="{{url_for('login')}}">Sign In</a>
                </p>
            </div>
        </form>
    </div>
</body>

</html>
